body{
    text-align: center;
}
#btn{
    padding: 3px 10px 3px 10px;
    border: 1 px solid black;
    margin-bottom: 20px;
}
.div{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    margin: auto;
}